header {
    height: 670px;
    background-image: url("../assets/lampos-aritonang-24gR_9lCdes-unsplash\ 1.png");
    background-size: cover;
}

header nav img#logo {
    height: 25px;
}

header .search-header {
    padding-top: 12em;
    padding-bottom: 12rem;
}

header h1 {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 66px;
    text-align: center;
    color: #FFD15B;
}

header .input-group-search {
    border-radius: 10px;
    background-color: #FFFFFF;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #7A7A7A;
}

header .input-group-search input {
    border: none;
}

header .input-group-search input.form-control:focus {
    border: none;
    box-shadow: none;
}

header .input-group-search button {
    background-color: #1B1B1B;
    border-radius: 10px !important;
    margin: 10px !important;
    width: 51px;
    height: 52px;
    color: #FFFFFF;
}

header .input-group-search button:hover {
    background-color: #FFD15B;
}

main {
    background-color: #E5E5E5;
}

.card {
    height: 731px;
    overflow-y: scroll;
    border: none;
    border-radius: 21px;
}

.card .card-cooking-time {

    position: absolute;
    right: 22px;
    top: 21px;
    display: inline-flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 14px;
    background: #FFD15B;
    color: #1B1B1B;
    text-align: center;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card img.card-img-top {
    height: 253px;
    object-fit: cover;
}

.card-body {
    padding: 25px;
}

.card-body .card-title {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 30px;
}

.card-body .card-text.text-clamping {
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;

}

.card-body h5 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #7A7A7A;
    margin-bottom: 15px;
}

.card-body .card-text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1B1B1B;
    margin-bottom: 32px;
}

.card-ingredient {
    height: 165px;
}

.card-ingredient>div {
    width: 50%;
}

.ingredient-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #1B1B1B;
}

.ingredient-quantity {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7A7A7A;
}

.dropdown-toggle {
    text-align: left;
    position: relative;
    background-color: #FFFFFF;
    color: #1B1B1B;
    border-radius: 11px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    min-width: 195px;
    height: 56px;
    border: none;
}

.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:focus {
    background-color: #FFF !important;
    border: none;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-toggle>i {
    position: absolute;
    right: 12px;
    top: 17px;
}

.dropdown-toggle.show {
    background-color: #FFF;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown-toggle i.fa-chevron-up {
    display: none;
}

.dropdown-toggle.show i.fa-chevron-up {
    display: inline;
}

.dropdown-toggle.show i.fa-chevron-down {
    display: none;
}

.dropdown-menu.show {
    /* width: 195px; */
    /* columns: 3; */
    width: 195px;
    max-height: 324px;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -2px !important;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1B1B1B;
    overflow-y: scroll;

}

.dropdown-menu input {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right: none;
}

.dropdown-menu input:focus {
    border-color: var(--bs-border-color);
    box-shadow: none;
}

.dropdown-menu .input-group-text {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: none;
    background-color: #FFF;
    color: #7A7A7A;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    background: url("../assets/Vector.svg") no-repeat;
}

.dropdown-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 195px;
    height: 37px;
}

.dropdown-item:hover {
    background-color: #FFD15B;
}

.tags--list:not(:empty) {
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}

.tags--list .tag {
    display: inline-flex;
    padding: 17px 18px;
    align-items: center;
    gap: 60px;
    border-radius: 10px;
    background: #FFD15B;
    color: #000;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;

}

.tag i {
    font-size: 14px;
    margin-left: 5px;
}

.recipe-quantity--section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #1B1B1B;
    font-family: 'Anton';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}